<table>
    <tr>
        <td align="center">
            <h2>Todo: <%= todo.title %> (No <%= todo.id %>)</h2>
            <p>Pomodori: <%= todo.pomodori.length %> </p>
            <p>
                <% for (var i = 0; i < todo.pomodori.length; i++) { %><img src="/images/timer50.png">
                <% } %>
            </p>
            <p>
                <% todo.pomodori.forEach((p) => { %>
                    <%= p.df(p.start) %> - <%= p.df(p.end) %> <%= p.status %><br/>
                <% }) %>
            </p>
            <p>
            <form action="/todos/<%= todo.id %>" method="POST">
                <input type="text" id="todo-title" name="todo-title" value="<%= todo.title %>">
                Done: <input type="checkbox" id="todo-done" value="true" <%= todo.done === true ? 'checked' : '' %>
                             name="todo-done">
                <button>Save</button>
            </form>

            </p>
        </td>
    </tr>
    <tr>
        <td>

            <canvas id="timerCanvas" width="500" height="500">
                alternate content
            </canvas>
        </td>
    </tr>
    <tr align="center">
        <td>
            <button id="timerStart" onclick="start_stop();">Start</button>
            <input type="number" id="minutes" name="minutes" step="5" value="25"/>
            <button onclick="setMinutes();" class="playSound">reset</button>
        </td>
    </tr>
    <tr align="right">
        <td><a href="/todos">Back</a></td>
    </tr>

</table>
<hr/>
<p id="xhr_status"></p>
<hr/>

<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<!-- the timer part is not meant to be part of this example, just kept
here to look nice -->
<script>
    function pomodoroCallback(event) {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", `/api/todos/<%=todo.id%>/pomodoro/${event}`, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 ) { // && xhr.status == 200
                console.log(xhr.responseText);
                document.getElementById("xhr_status").innerHTML = "XHR Response: " + xhr.responseText;
            }
        }
        xhr.send();
    }
</script>
<script type="text/javascript" src="/javascripts/timer.js" onload="init(pomodoroCallback);loadSound();"></script>
<script>


</script>
<%- contentFor('title') %>
Show one Todo

<%- contentFor('onLoad') %>
onload="init();loadSound ();"